doctype html
html(lang='en')
    head
        title= title
        meta(name="viewport", content="width=device-width,minimum-scale=1,maximum-scale=1")
        block head
    body.sync-index.subpage.sync-page
        block body
        //- script.
        //-     if(console && console.clear){
        //-         console.clear();
        //-     }
        script(src="./js/lodash.js")
        script(src="./js/jquery.js")
        script(src="./js/backbone.js")
        script.
            if($){
                Backbone.$ = $;
            }
        block script